<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminders</title>
</head>

<body>
    <main>
        <div>
            <h1>{{show_detail.name}}</h1>
            <p>
                <a href="{% url 'update_TodoList' show_detail.id%}">Update list</a>
            </p>
            <p>
                <a href="{% url 'delete_TodoList' show_detail.id%}">Delete list</a>
            </p>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in show_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'update_TodoItem' job.id%}">{{job.task}}</a>
                        </td>

                        <td>
                            {{job.due_date | date:"F d, Y" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
